{{ if eq .chezmoi.hostname "archlinux-kirill" -}}

preload = /home/kirill/wlp.png

wallpaper = DP-1,/home/kirill/wlp.png

{{ else if eq .chezmoi.hostname "arch-pc-home" -}}

preload = /home/kirill/wlp.jpg

wallpaper = HDMI-A-1,/home/kirill/wlp.jpg
wallpaper = DP-2,/home/kirill/wlp.jpg

{{ end -}}

